* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}
body {
    background-color: whitesmoke;
}
.title {
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin-right: 20px;
    top: 15%;
    color: rgb(31, 31, 31);
    display: inline;
}
.nav_items {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    position: relative;
    top: 5%;
    margin: 5px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration:none;
}
.nav_items:hover {
    background-color: black;
    color: white;
    transition: 300ms;
    text-decoration:none;
}
.nav_search {
    width: 213px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid grey;
    position: relative;
    top: 5%;
    margin-left: 10px;
}
.subtitulo {
    color: black;
    text-align: center;
    margin-left: -130px;
    text-align: center;
}
.header {
    z-index: 100;
    position: fixed;
    background-color: rgb(248, 234, 41);
    width: 100vw;
    height: 5rem;
    text-align: center;
    border-radius: 0 0 35px 20px;
    box-shadow: 0 0 55px 2px black;
}
.menu {
    display: block;
    margin-top: 1rem;
   
}
.menu a {
    font-family: 'Raleway', sans-serif;
    color: grey;
    background-color: rgb(255, 255, 47);
    border: 2px solid rgb(17, 87, 0);
    border-radius: 10px;
    text-decoration: none;
    
}
.menu a:hover { 
    background-color: yellow;
    color: black;   
}
.menu_fast {
    margin-top: 5px;
    display: inline-block;
}
.cards {
    border-radius: 20px;
}
.cards:hover {
    box-shadow: 0 0 30px 2px black;
    transition: 250ms;
}
.location {
    display: block;
    margin: 0 700px 0 700px;
}
.footer {
    display: block;
    height: 250px;
    background-color: rgb(196, 196, 196);
    border-top:black solid 1px;
    text-align: center;
    padding-top: 50px;
}
.footer h6 {
    font-family: sans-serif;
    font-size: 25px;
    color: black;
    margin-left: 15px;
}
.redes {
    margin-left: 10px;
    display: inline-block;
    border: grey solid 3px;
    background-color: rgb(153, 153, 153);
    border-radius: 25px;
}
footer { 
    padding-top: 50px;
}

