 * {
  font-family: 'DM Sans', sans-serif;
  background-color: black;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
}
.text {
  text-align: center;
  color: white;
}
.footer {
  font-family: 'DM Sans', sans-serif;
  color: white;
}
.card {
  box-shadow: 0px 10px 10px -6px black;
  margin: 15px;
  color: whitesmoke;
  border-radius: 5px;
  text-align: center;
  background-color: black;
}
.card:hover {
  background-color: grey;
  transition: 500ms;
}
.contactame {
  align-items: center;
}
.header__title {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 75px;
  color: white;
  border-radius: 5px;
}
.header__title:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  transition: 400ms;
}
.header__subtitle {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: white;
}
.header__arrow {
  width: 30px;
  height: 30px;
}
.header__arrow:hover {
  width: 25px;
  height: 25px;
  transition: 80ms;
}
.text__null {
  display: inline-block;
}
.goto__bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container__center {
  position: static;
  margin-top: 20%;
  margin-bottom: 15%;
  
}
.projects {
  
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.link {
  transition: color .15s ease-in;
}
.link:link, .link:visited {
  transition: color .15s ease-in;
}
.link:hover {
  transition: color .15s ease-in;
}
.link:active {
  transition: color .15s ease-in;
}
.link:focus {
  transition: color .15s ease-in;
  outline: 1px dotted currentColor;
}
.pv4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.ph2 {
  padding-left: .5rem;
  padding-right: .5rem;
}
.ph3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.mt3 {
  margin-top: 1rem;
}
.tc {
  text-align: center;
}
.ttu {
  text-transform: uppercase;
}
.f6 {
  font-size: .875rem;
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .ph5-m {
      padding-left: 4rem;
      padding-right: 4rem;
  }
}
@media screen and (min-width: 60em) {
  .ph6-l {
      padding-left: 8rem;
      padding-right: 8rem;
  }
}
.footer {
  clear: both;
}